<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-header bg-primary text-white">
          <h4>Join Lobby</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="joinCode" placeholder="Enter join code" [(ngModel)]="joinCode" [ngModelOptions]="{standalone: true}">
            </div>
            <button type="submit" *ngIf="!joined" (click)="onSubmit()" class="btn btn-block join-lobby">Join Lobby</button>
            <div *ngIf="scheduled" class="scheduled-game">
              <div class="scheduled-game-header">
                <h4>Game Scheduled</h4>
              </div>
              <div class="scheduled-game-content">
                <p><strong>Start Time:</strong> {{startgame_str}}</p>
                <p><strong>Game:</strong> {{game_name}}</p>
                <p><strong>Test:</strong> {{test_name}}</p>
                <p><strong>Description:</strong> {{test_desc}}</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="userList.length > 0" class="col-md-4 user-list-container">
  <h4 style="color: white;">Users in lobby:</h4>
  <ul class="user-list">
    <li *ngFor="let user of userList" class="user-list-item" >
      <span>{{ user }}</span>
    </li>
  </ul>
</div>
