<div class="container">
<div *ngIf="viewMode; else editable">
  <div *ngIf="currentQuestion.id">
    <h4>Question</h4>
    <div>
      <label><strong>Question:</strong></label> {{ currentQuestion.question }}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/Questions/{{ currentQuestion.id }}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentQuestion">
    <br />
    <p>Please click on a Question...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentQuestion.id" class="edit-form">
    <h4>Question</h4>
    <form>
      <div class="form-group">
        <label for="title">Question</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentQuestion.question"
          name="title"
        />


        <label for="image_link">Image Link</label>

        <div *ngIf="selectedImage">
          <img [src]="selectedImage" />
        </div>

        <div *ngIf="!selectedImage && currentQuestion.image_link">
          <img [src]="imageSrc(currentQuestion.image_link)" />
        </div>

        <input
          type="file"
          id="image_link"
          (change)="onFileChange($event)"
          name="image_link"
        />

        <label for="answers">Answers</label>
        <div id="answers">
          <mat-card appearance="outlined" *ngFor="let answer of currentQuestion.answers; let i = index" style="margin-bottom: 10px" >

            <input
              type="text"
              class="form-control"
              name="answer{{i}}"
              [(ngModel)]="answer.answer"
            >
            <mat-checkbox name="isCorrect{{i}}" [(ngModel)]="answer.isCorrect">Is correct?</mat-checkbox>
          </mat-card>

          <button mat-button (click)="addAnswer()" ><mat-icon>add</mat-icon> Dodaj odpowiedź</button>


        </div>
      </div>
    </form>



    <button class="badge badge-danger mr-2" (click)="deleteQuestion()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateQuestion()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentQuestion.id">
    <br />
    <p>Cannot access this Question...</p>
  </div>
</ng-template>
</div>
