<div class="content">
    <div class="panel">
        <div class="name" (click)="showTestDescr()">
            <p> {{test.name}} </p>
        </div>
        <div class="questions">
            <div class="question" *ngFor="let question of questions"
            (click)="selectQuestion(question)"> 
                <p> {{question.question}} </p>
            </div>
        </div>
    </div>

    <div class="details" *ngIf="selectedTestLabel === true">
      <div class="question" [ngClass]="{'editing': isEditingTestLabel}">
        <p *ngIf="!isEditingTestLabel; else editMode">
          {{tempLabel}}
          <i class="bi bi-pencil" (click)="editTestLabel()"></i>
        </p>
        <ng-template #editMode>
          <input #inputElement [(ngModel)]="tempLabel" (keydown.enter)="saveTestLabelChange()" (keydown.escape)="cancelTestLabelChange()"/>
          <i class="bi bi-x" (click)="cancelTestLabelChange()"></i>
          <i class="bi bi-check2" (click)="saveTestLabelChange()"></i>
        </ng-template>
      </div>

      <div class="description" [ngClass]="{'editing': isEditingTestDescr}">
        <p *ngIf="!isEditingTestDescr; else editModeDesc">
          {{tempDescr}}
          <i class="bi bi-pencil" (click)="editTestDescr()"></i>
        </p>
        <ng-template #editModeDesc>
          <input #inputElement [(ngModel)]="tempDescr" (keydown.enter)="saveTestDescrChange()" (keydown.escape)="cancelTestDescrChange()"/>
          <i class="bi bi-x" (click)="cancelTestDescrChange()"></i>
          <i class="bi bi-check2" (click)="saveTestDescrChange()"></i>
        </ng-template>
      </div>
        <div class="buttons">
          <button class="saveChanges" (click)="saveChanges()" [disabled]="!areNewChanges()">Save</button>
        </div>
    </div>

    <div class="details" *ngIf="selectedQuestion !== null">
        <div class="question">
            <p>
                {{selectedQuestion.question}}
            </p>
        </div>
        <div class="options">
            <div class="option">
              <input type="radio" id="singleChoice" name="option" class="option-input">
              <label for="singleChoice" class="option-label">Single choice</label>
            </div>
            <div class="option">
              <input type="radio" id="multipleChoice" name="option" class="option-input">
              <label for="multipleChoice" class="option-label">Multiple choice</label>
            </div>
            <div class="option">
              <input type="radio" id="trueFalse" name="option" class="option-input">
              <label for="trueFalse" class="option-label">True / False</label>
            </div>
            <div class="option">
              <input type="radio" id="chooseFromList" name="option" class="option-input">
              <label for="chooseFromList" class="option-label">Choose from list</label>
            </div>
          </div>
          <div class="answers">
            <div *ngFor="let answer of answers; let i = index">
              <input type="text" [(ngModel)]="answers[i].text" placeholder="Enter your answer here">
              <button [class.correct]="answers[i].isCorrect" [class.incorrect]="!answers[i].isCorrect" (click)="toggleCorrect(i)">
              </button>
            </div>
            <button (click)="addAnswer()">Add answer</button>
          </div>
    </div>
</div>