.content {
    width: 100%;
    height: 92%;

    display: flex;
    align-items: row;
}

.panel {
    height: 100%;
    width: 20%;
    background-color: #333f4a;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.name {
    width: 100%;

    color: #d9dcde;
    background-color: #283038;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    padding: 10px;

    border: #181c21 solid 2px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.name p {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
}

.panel .questions {
    width: 100%;
}

.panel .question {
    width: 100%;

    color: #727a81;
    border-bottom: 2px solid #3a4753;

    display: flex;
    align-items: center;
    justify-content: center;
}

.panel .question p {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;

    padding: 5%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.panel .question:hover {
    color: #727a81;
    background-color: #3e4b58;
    cursor: pointer;
}

.details {
    height: 80%;
    width: 50%;
    /* background-color: rgb(27, 26, 26); */

    margin-left: 15%;
    margin-top: 5%;
    margin-right: 15%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.details .question {
    font-weight: bold;
    color: #d9dcde;
    font-size:xx-large;

    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
    border-bottom: 3px solid #626c76;
}

.details .question p {
    margin: 0;
    text-align: start;
}

.options {
    display: flex;
    flex-direction: row;
}

.option-input {
    display: none;
  }
  
.option-label {
    padding: 10px;
    display: block;
    font-weight: bold;
    color: #626c76;
}
  
.option-input:checked + .option-label {
    color: #9662d2;
}

.option-label:hover {
    color: #a57bd5;
    cursor: pointer;
}

.answers input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
  }
  
  .answers input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }

  .answers input:focus {
    border-bottom: 1px solid #007BFF;
  }
  
  .answers button {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  
  .answers button.correct {
    background-color: green;
  }
  
  .answers button.incorrect {
    background-color: red;
  }

  /* .details .question {
    font-weight: bold;
    color: #d9dcde;
    font-size:xx-large;

    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
    border-bottom: 3px solid #626c76;
} */


.description {
    width: 100%;
    height: 30%;

    border: solid 2px #181c21;
    background-color: #333f4a;

    color: white;
}

.bi {
    padding-left: 10px;
    opacity: 0.5;
}

.bi:hover {
    color: #9662d2;
    cursor: pointer;
    opacity: 1;
}

.description {
    margin-top: 10px;
}

.label input {
    background-color: #333f4a;
    color: white;
}

input.test {
    border-bottom: 0px;
}

input.test:focus {
    border-color: #9662d2 !important;
    outline: none !important;
}

.question.editing {
    border-bottom: 3px solid #9662d2 !important;
}

input {
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    font: inherit;
  }
