<div class="container">
  <div class="mt-md-4" *ngIf="test; else emptyTest">
    <mat-card class="main-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{test.testName}}</mat-card-title>

          <mat-card-subtitle>
            <h6>{{test.description}}</h6>
            <p>{{'TEST_HISTORY.MARK' | translate}}: {{test.score }} {{'TEST_HISTORY.POINTS' | translate}} / {{test.maxPoints}} {{'TEST_HISTORY.POINTS' | translate}} ({{(test.score / test.maxPoints * 100).toFixed(2)}}%)</p>
            <p>{{'TEST_HISTORY.CREATED_AT' | translate}}: {{test.createdAt | date: 'yyyy-MM-dd'}}</p>
          </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <mat-card *ngFor="let question of test.questions" class="mt-3 question-card">
          <mat-card-header>
            <p class="score">{{calculateQuestionScore(question.answers)}} {{'TEST_HISTORY.POINTS' | translate}}</p>
            <mat-card-title>{{question.question}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="photo-container" *ngIf="question.image_link !== ''">
              <img style="width: auto" [src]="question.image_link" alt="Selected Image"/>
            </div>
            <ul>
              <li *ngFor="let answer of question.answers">
                 <div class="answer-container">
                   {{answer.answer}}
                  <mat-icon *ngIf="answer.isCorrect && answer.selected" class="correct">check</mat-icon>
                  <mat-icon *ngIf="!answer.isCorrect && answer.selected" class="incorrect">close</mat-icon>
                </div>
                <div class="divider"></div>
              <li>
            </ul>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>

  <ng-template #emptyTest>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <h4 class="text-muted
        text-center">{{'TEST_HISTORY.NOT_FOUND' | translate}}</h4>
    </div>
  </ng-template>
</div>


