<div class="container">
    <div class="role-container">
      <h2>Witaj!! </h2>
      <h6> Celem gry jest zbieranie gwiazdek, które umożliwią nam odpowiedzieć na pytania. W trakcie gry gracze mogą sobie
        nawzajem przeszkadzać, atakując innych graczy. Do wyboru są dwie klasy: Defensive oraz Offensive.
        Wybierając klasę defensive otrzymasz dodatkowe punkty życia lub prędkości ruchu,
        natomiast wybierając klasę offensive otrzymasz dodatkowe punkty obrażeń lub zasięgu ataku.
      </h6>
      <h4>Wybierz jedną z dostępnych klas aby otrzymać dodatkowy bonus do statystyk</h4>
      <div class="row">
        <div class="col-sm">
          <button class="answer" [ngClass]="{'answer-selected': chosenRole === MultiplayerRoles.DEFENSIVE}" (click)="choose(MultiplayerRoles.DEFENSIVE)">
            Defensive
            <mat-icon>shield</mat-icon>
          </button>
        </div>
        <div class="col-sm">
          <button class="answer pull" [ngClass]="{'answer-selected': chosenRole === MultiplayerRoles.OFFENSIVE}" (click)="choose(MultiplayerRoles.OFFENSIVE)">
            Offensive
            <mat-icon fontIcon="swords"></mat-icon>
          </button>
        </div>
        <h4 class="">Time left: {{timeLeft}}</h4>
      </div>
    </div>
</div>
