<div class="container">
  <div *ngIf="chosenRole !== MultiplayerRoles.NONE; else roleNotChosen">
    <h1>You have chosen the {{ chosenRole }} role</h1>
    <h1>Wait for others</h1>
    <p>Remaining time left: {{timeLeft}}</p>
  </div>

  <ng-template #roleNotChosen>
    <div class="role-container">
      <h2>Welcome!! </h2>
      <h4>Choose your role in order to receive some bonus stats</h4>
      <div class="row">
        <div class="col-sm">
      <button class="answer" (click)="choose(MultiplayerRoles.DEFENSIVE)">
        Defensive
        <mat-icon>shield</mat-icon>
      </button>
          </div>
          <div class="col-sm">
      <button class="answer pull" (click)="choose(MultiplayerRoles.OFFENSIVE)">
        Offensive
        <mat-icon fontIcon="swords"></mat-icon>
      </button>
          </div>
      <h4 class="">Time left: {{timeLeft}}</h4>
      </div>
    </div>
  </ng-template>
</div>
