.container {
  color: #d4d6d9;
  text-align: center;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 0;
}


.role-container {
  background-color: #3e4b58;
  color: #d4d6d9;
  text-align: center;
  border: solid 3px #695497;
  padding: 6px 16px;
  border-radius: 10px;
}


.answer {
  width: 100%;
  flex: 1;
  margin-top: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(36, 36, 44, 0.8);
  transform: scale(1.05);
  border: solid #695497 3px;
  border-radius: 10px;
  color: #d4d6d9;
}
