<div class="scoreboard-container">

  <div class="scoreboard">
    <p class="scoreboard-label">Scoreboard</p>
    <div class="scoreboard-entry-box">
      <div class="scoreboard-labels">
        <span class="username-label">Nickname</span>
        <span class="time-label">Time</span>
        <span class="score-label">Score</span>
      </div>
      <ul>
        <li *ngFor="let entry of sortedScoreboard" [ngClass]="{'current-player': entry.key === currentPlayer}">
          <span class="username">{{ entry.key }}</span>
          <span class="time">{{everyUserTime}} s.</span>
          <span class="score">{{ entry.value }} pt.</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="results-container">
    <div class="results">
      <p class="test-name-label">{{testName}}</p>
      <div class="all-info-container">
      <div class="number-scores">
        <p>({{ currentPlayerScoreOnlyQuestions.toFixed(2) }} + <span [ngStyle]="{'color': '#9662d2'}">{{bonusScore.toFixed(2)}}</span>) pt. / {{this.totalScore}} pt.</p>
        <div class="pie-chart" [ngStyle]="{'background': 'conic-gradient(#9662d2 ' + currentPlayerPercentage + '%, #ddd ' + currentPlayerPercentage + '%)'}">
          <div class="center">
            {{this.currentPlayerPercentage.toFixed(0)}}%
          </div>
        </div>
      </div>
      <div class="time-container">
        <p>Pozostały czas: {{ timeLeft.toFixed(2) }} s.</p>
      </div>
      <div class="bartle-metrics">
        <p class="bartle-label">Bartle player taxonomy</p>
        <div class="metric">
          <span>Explorer:</span>
          <div class="progress-bar" [ngStyle]="{'width': explorerScore + '%'}"></div>
          <span>{{explorerScore.toFixed(1)}}%</span>
        </div>
        <div class="metric">
          <span>Socializer:</span>
          <div class="progress-bar" [ngStyle]="{'width': socializerScore + '%'}"></div>
          <span>{{socializerScore.toFixed(1)}}%</span>
        </div>
        <div class="metric">
          <span>Achiever:</span>
          <div class="progress-bar" [ngStyle]="{'width': achieverScore + '%'}"></div>
          <span>{{achieverScore.toFixed(1)}}%</span>
        </div>
        <div class="metric">
          <span>Killer:</span>
          <div class="progress-bar" [ngStyle]="{'width': killerScore + '%'}"></div>
          <span>{{killerScore.toFixed(1)}}%</span>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


