<div class="content">
  <div class="panels">
    <button class="block add-button" (click)="createNewTest()">+</button>
    <button 
      class="block" 
      *ngFor="let test of tests"
      [routerLink]="['/tests', test.id]">
      {{test.name}}
  </button>
  </div>
  <div class="dropdown-wrapper position-absolute top-0 end-0">
    <button class="btn dropdownButton dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      {{'SORTING_TESTS.SORT_BY' | translate}}
    </button>
    
    <ul class="dropdown-menu dropdown-menu-end custom-dropdown" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" (click)="sortBy('nameAsc')">{{'SORTING_TESTS.NAME_A-Z' | translate}}</a></li>
      <li><a class="dropdown-item" (click)="sortBy('nameDesc')">{{'SORTING_TESTS.NAME_Z-A' | translate}}</a></li>
      <li><a class="dropdown-item" (click)="sortBy('dateNewest')">{{'SORTING_TESTS.DATE_NEWEST' | translate}}</a></li>
      <li><a class="dropdown-item" (click)="sortBy('dateOldest')">{{'SORTING_TESTS.DATE_OLDEST' | translate}}</a></li>
    </ul>
  </div>
</div>