<div class="list row">
  <div class="col-md-6">
    <h4>Tests List</h4>
    <button class="btn btn-success mb-3" (click)="showForm = true">Add Test</button>
    <form *ngIf="showForm" #testForm="ngForm" (ngSubmit)="onSubmit(testForm.value)">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="test.name" name="name">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="test.description" name="description">
      </div>

      <button type="submit" class="btn btn-success">Create</button>
    </form>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let test of (tests$ | async); let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTest(test, i)"
      >
        {{ test.name }}
        <button class="btn btn-danger float-right" (click)="deleteTest(test.id, $event)">Delete</button>
      </li>
    </ul>
  </div>

  <div class="col-md-6" *ngIf="currentTest">
    <h4>Test Details</h4>
    <p>Name: {{ currentTest.name }}</p>
    <p>Description: {{ currentTest.description }}</p>
    <h4>Questions</h4>
    <ul class="list-group half-list" *ngIf="testQuestions.length > 0; else testQuestionsEmpty" >
      <li class="list-group-item" *ngFor="let question of testQuestions; let i = index">{{question.question}} <button class="btn btn-danger float-right" (click)="removeQuestionFromTest(question, i)" >Delete</button><button class="btn float-right" (click)="openDialog(question)">Edit</button></li>
    </ul>

    <ng-template #testQuestionsEmpty>
      <p>No questions added to test</p>
    </ng-template>
    <h4 style="margin-top: 20px">Add question to test</h4>

    <ul class="list-group half-list">
      <li class="list-group-item" *ngFor="let question of uniqueQuestions; let i = index"><span>{{question.question}}</span><button class="btn btn-success float-right" (click)="addQuestionToTest(question, i)">Add</button></li>
    </ul>
    <button class="btn btn-success mb-3 save" (click)="saveQuestions()" [disabled]="questionIdsToAdd.length === 0 && questionIdsToDelete.length === 0">Save</button>
  </div>
</div>
