<div class="container mt-3">
<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by question"
        [formControl]="title"
      />
    </div>
  </div>
  <div class="col-md-6">
    <h4>Questions List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let question of filteredQuestions$ | async; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveQuestion(question, i)"
      >
        {{ question.question }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllQuestions()">
      Remove All
    </button>
  </div>
  <div class="col-md-6" *ngIf="currentQuestion">
    <app-question-details
      [currentQuestion]="currentQuestion"
    ></app-question-details>
  </div>
</div>
</div>
