<div class="scoreboard-container">

  <div class="scoreboard">
    <p class="scoreboard-label">Scoreboard</p>
    <div class="scoreboard-entry-box">
      <div class="scoreboard-labels">
        <span class="username-label">Nickname</span>
        <span class="time-label">Time</span>
        <span class="score-label">Score</span>
      </div>
      <ul>
        <li *ngFor="let entry of scoreboard | keyvalue" [ngClass]="{'current-player': entry.key === currentPlayer}">
          <span class="username">{{ entry.key }}</span>
          <span class="time">11.32 s.</span>
          <span class="score">{{ entry.value }} pt.</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="progress-container">
    <h3>{{ currentPlayer }} Total Score:</h3>
    <div class="pie-chart" [ngStyle]="{'background': 'conic-gradient(#4caf50 ' + currentPlayerPercentage + '%, #ddd ' + currentPlayerPercentage + '%)'}">
      <div class="center">
        54%
      </div>
    </div>
    <div class="bartle-metrics">
      <h3>Bartle Taxonomy Personality</h3>
      <div class="metric">
        <span>Explorer:</span>
        <div class="progress-bar" [ngStyle]="{'width': 21 + '%'}"></div>
        <span>21%</span>
      </div>
      <div class="metric">
        <span>Socializer:</span>
        <div class="progress-bar" [ngStyle]="{'width': 76 + '%'}"></div>
        <span>76%</span>
      </div>
      <div class="metric">
        <span>Achiever:</span>
        <div class="progress-bar" [ngStyle]="{'width': 98 + '%'}"></div>
        <span>98%</span>
      </div>
    </div>
  </div>
</div>


