<div class="main_container" *ngIf="!gameFinished">
<app-live-score-board></app-live-score-board>
</div>
<app-scoreboard *ngIf="gameFinished" [testName]="testName" [scoreboard]="scoreBoardMap" [currentPlayer]="nickname" [bonusScore]="playerScoreBonus" [totalScore]="testMaxPoints"
[BARTLE_stars_picked]="starsPicked"
[BARTLE_medkits_shared]="medkitsShared"
[BARTLE_turrets_destroyed]="turretsDestroyed"
[totalStars]="totalStars"
[allTurrets]="totalTurrets"
[totalHealth]="totalHealth">
></app-scoreboard>
<app-timer *ngIf="!timerEnded" [seconds]="timer" (timerEnded)="onTimerEnded()"></app-timer>
