<div class="main_container" *ngIf="!gameFinished">
<div class="container">
  <h2>Scoreboard</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of scoreBoard">
        <td>{{ player.username }}</td>
        <td>{{ player.score }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<app-scoreboard *ngIf="gameFinished" [scoreboard]="scoreBoardMap" [currentPlayer]="nickname" [totalScore]="maxLevel"
[BARTLE_stars_picked]="starsPicked"
[BARTLE_medkits_shared]="medkitsShared"
[BARTLE_turrets_destroyed]="turretsDestroyed"
[allTurrets]="totalTurrets">
></app-scoreboard>
