.main_container {
  position: absolute;
  right: 0;
  bottom: 0; /* Align to bottom of the page */
  margin: 20px; /* Optional margin to create some space from the edge */
  color: white;
  text-align: center;
}

.table {
  color: white;
}
