<div class="container mt-4" *ngIf="!isSubmitted">
  <h2 class="mb-4">{{ 'CREATE_MATCHMAKING.CHOOSE_TEST' | translate }}</h2>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>{{ 'CREATE_MATCHMAKING.ID' | translate }}</th>
        <th>{{ 'CREATE_MATCHMAKING.NAME' | translate }}</th>
        <th>{{ 'CREATE_MATCHMAKING.DESCRIPTION' | translate }}</th>
        <th>{{ 'CREATE_MATCHMAKING.CHOOSE' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let test of testSets" [class.table-active]="test === selectedTest" (click)="selectTest(test)">
        <td>{{ test.id }}</td>
        <td>{{ test.name }}</td>
        <td>{{ test.description }}</td>
        <td><button class="btn btn-primary" (click)="selectTest(test); $event.stopPropagation()">{{ 'CREATE_MATCHMAKING.CHOOSE' | translate }}</button></td>
      </tr>
    </tbody>
  </table>

  <h2 class="mb-4">{{ 'CREATE_MATCHMAKING.CHOOSE_DATE_TIME' | translate }}</h2>
  <div class="form-group">
    <input [formControl]="dateControl" type="date" class="form-control mb-2">
    <input [formControl]="timeControl" type="time" class="form-control" >
  </div>
  <h2 class="mb-4">{{ 'CREATE_MATCHMAKING.SET_DURATION' | translate }}</h2>
  <div class="form-group">
    <input [formControl]="timerControl" type="number" min="1" class="form-control mb-2" placeholder="{{ 'CREATE_MATCHMAKING.ENTER_DURATION' | translate }}">
  </div>

  <h2 class="mb-4">{{ 'CREATE_MATCHMAKING.CHOOSE_GAME' | translate }}</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let game of games">
      <div class="card mb-4" [class.border-primary]="game === selectedGame" (click)="selectGame(game)">
        <div class="card-body">
          <h5 class="card-title">{{ game.name }}</h5>
          <p class="card-text">{{ game.description }}</p>
          <button class="btn btn-primary" (click)="selectGame(game); $event.stopPropagation()">{{ 'CREATE_MATCHMAKING.CHOOSE' | translate }}</button>
        </div>
      </div>
    </div>
  </div>



  <div *ngIf="selectedGame && groupedLevels">
    <h2 class="mb-4">{{ 'CREATE_MATCHMAKING.CHOOSE_MAP' | translate }}</h2>
    <div class="row">
      <p-carousel *ngIf="groupedLevels[selectedGame.id]"
      [value]="groupedLevels[selectedGame.id]" 
      [numVisible]="3" 
      [numScroll]="3"
      [responsiveOptions]="responsiveOptions" >
      <ng-template let-level let-i="index" pTemplate="item">
        <div class="level-game-container">
          <div class="card mb-4" [class.border-primary]="level === selectedLevel" (click)="selectLevel(level)">
            <div class="card-body">
              <h5 class="card-title">{{'CREATE_MATCHMAKING.MAP_NAME' | translate}}: {{ level.name }}</h5>
              <p>{{'CREATE_MATCHMAKING.SUGGESTED_TIME' | translate}}: {{ level.time }}</p>
              <p>{{'DIFFICULTY.DIFFICULTY' | translate}}: {{ level.difficulty | translate }}</p>
              <button class="btn btn-primary" (click)="selectLevel(level); $event.stopPropagation()">{{ 'CREATE_MATCHMAKING.CHOOSE' | translate }}</button>
            </div>
          </div>
       </div>
      </ng-template>
      </p-carousel>
    </div>
  </div>
  <button #targetSection class="btn btn-primary mt-4 plan" (click)="onSubmit()">{{ 'CREATE_MATCHMAKING.SCHEDULE' | translate }}</button>
</div>

<app-create-lobby *ngIf="isSubmitted" [test]="selectedTest" [game]="selectedGame" [level]="selectedLevel" [date]="dateControl.value" [time]="timeControl.value" [timerInput]="timerInSeconds"></app-create-lobby>
