<div *ngIf="role !== roles.NONE">
    <nav class="navbar navbar-expand">
    <a routerLink="" class="navbar-brand" routerLinkActive="active">QuizNET</a>
    <div class="navbar-nav mr-auto">
        <li class="nav-item border-right" *ngIf="role === roles.ADMIN" routerLinkActive="active">
            <a routerLink="Questions" class="nav-link">Questions</a>
        </li>
        <li class="nav-item border-right" *ngIf="role === roles.ADMIN" routerLinkActive="active">
            <a routerLink="add" class="nav-link">Add</a>
        </li>
        <li class="nav-item border-right" *ngIf="role === roles.ADMIN" routerLinkActive="active">
            <a routerLink="create-test" class="nav-link">Create test</a>
        </li>
        <li class="nav-item border-right" *ngIf="role === roles.ADMIN" routerLinkActive="active">
            <a routerLink="create-lobby" class="nav-link">Create Lobby</a>
        </li>
        <li class="nav-item border-right" routerLinkActive="active">
            <a routerLink="join-lobby" class="nav-link">Join Lobby</a>
        </li>
        <li class="nav-item border-right" routerLinkActive="active">
            <a routerLink="game" class="nav-link">Play</a>
        </li>
        <li class="nav-item border-right" routerLinkActive="active">
            <a routerLink="tank-game" class="nav-link">Tank-game</a>
        </li>
        <li class="nav-item border-right" *ngIf="role === roles.ADMIN" routerLinkActive="active">
            <a routerLink="create-matchmaking" class="nav-link">Create matchmaking</a>
        </li>
        <li class="nav-item" (click)="logout()">
            <a routerLink="login" class="nav-link">Log out</a>
        </li>
    </div>
    </nav>
</div>